@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-Black.woff) format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-Ultrabold.woff) format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-Medium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-Light.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Neue Machina";
  src: url(/fonts/Neue-Machina/NeueMachina-UltraLight.woff) format("woff");
  font-weight: 200;
}
body {
  background: gray;
}
body {
  background: lightblue;
}
footer {
  background: darkblue;
}
section {
  background: lightgreen;
}
aside {
  background: lightcoral;
}
main {
  display: flex;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 100%;
}
caption {
  text-indent: 1.25cm;
  text-align: left;
}
/*  thead {
  background: yellow;
}
tbody {
  background: rgb(48, 184, 48);
}
tfoot {
  background: pink;
} 
.col-1 {
  background: yellow;
}
.col-2 {
  background: pink;
}
*/
canvas {
  border: 1px solid black;
}
header {
  text-align: center;
  background: peru;
}
input:focus {
  outline: 10px solid rgb(0, 149, 255);
}
#google {
  background: palevioletred !important;
}
[href="contacts.html"] {
  background: papayawhip;
}
.google:hover {
  background: rgb(131, 17, 55);
}
::placeholder {
  color: red;
}
.header-main a {
  background: goldenrod;
}
header.header-main > a {
  background: rgb(11, 202, 129);
}
h1 ~ nav {
  background: rgb(179, 13, 208);
}
h1 + a {
  background: rgb(210, 18, 169) !important;
}
a:active {
  color: white;
}
input[type="checkbox"]:checked {
  width: 50px;
  height: 50px;
}
input:default {
  width: 50px;
  height: 50px;
}
:disabled {
  background: darkblue;
}
:enabled {
  background: rgb(243, 222, 222);
}
p:empty {
  padding-top: 50px;
}
ul > li:first-child {
  background: rgb(90, 220, 15);
}
ul > li:last-child {
  background: rgb(15, 15, 220);
}
ul > li:nth-child(2) {
  background: rgb(15, 206, 220);
}
dl > :first-of-type {
  background: pink;
}
dl > :last-of-type {
  background: rgb(102, 16, 30);
}
dl > :nth-of-type(2) {
  background: green;
}
ol > li:only-child {
  background: rgb(154, 174, 175);
}
dl > :only-of-type {
  background: rgb(179, 13, 208);
}
input[type="number"]:in-range {
  background: green;
}
input[type="number"]:out-of-range {
  background: red;
}
input[type="email"]:invalid {
  background: red;
}
input[type="email"]:valid {
  background: green;
}
:link {
  color: white;
}
:visited {
  color: yellow;
}
.ol-not > li:not(:nth-child(2)) {
  background: rgb(102, 16, 30);
}
tr > td:nth-last-child(1) {
  background: yellow;
}
.fieldset-nth > :nth-last-of-type(1) {
  outline: 5px solid orange;
}
.form-new > :optional {
  background: orange;
}
.form-new > :required {
  background: rgb(14, 94, 207);
}
.form-new > input[type="text"]:read-only {
  color: white;
}

nav {
  display: inline-block;
  /*   margin: 5px 5px 10px 15px; */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 15px;
  width: 200px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  visibility: visible;
  border: 10px dashed black;
  outline: 10px solid green;
}
@media all and (max-width: 1200px) {
  section {
    background: rgb(250, 226, 177);
  }
}
@media all and (max-height: 600px) {
  header {
    background: white;
  }
}
.container {
  position: relative;
  height: 100px;
  border: 1px solid green;
  background: rgba(22, 231, 22, 0.2);
  top: 0;
}
.container > div {
  width: 100px;
  height: 100px;
  background: pink;
}
.container > :nth-child(1) {
  position: absolute;
  top: 0;
  float: left;
  z-index: 2;
  opacity: 0.9;
}
.container > :nth-child(2) {
  float: right;
  margin-left: -50px;
  background: linear-gradient(
    99deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  z-index: 1;
}
.bg-prop {
  margin: 20px;
  width: 400px;
  height: 250px;
  /*   background-color: azure;
  background-image: url("picture.jpg");
  background-size: 400px 100%;
  background-position: top left;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: local; */
  background: azure url("picture.jpg") center / 380px 100% no-repeat padding-box
    local;
  padding: 10px;
  /* border: 10px solid rgba(22, 231, 22, 0.5); */
  border-width: 10px;
  border-top-width: 5px;
  border-bottom-width: 25px;
  border-right-width: 35px;
  border-left-width: 15px;
  border-style: solid;
  border-top-style: dashed;
  border-bottom-style: dotted;
  border-right-style: hidden;
  border-left-style: double;
  border-color: rgba(0, 52, 238, 0.6);
  border-top-color: rgba(0, 52, 238, 0.6);
  border-bottom-color: green;
  border-right-color: #fff;
  border-left-color: hsl(0, 100%, 50%);
  /* border-radius: 50px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 70px;
  /* outline: 10px solid green; */
  outline-width: 10px;
  outline-style: solid;
  outline-color: aqua;
  outline-offset: 10px;
  box-sizing: border-box;
  color: white;
  box-shadow: 4px 4px 15px black;
  /*   font-family: "Neue Machina", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  font-variant: normal;
  line-height: 1; */
  font: italic normal 900 25px/1 "Neue Machina";
  text-align: left;
  hyphens: auto;
  text-shadow: 4px 4px 15px black;
  text-transform: capitalize;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #0000ff;
  text-decoration-thickness: 2px;
  /* text-decoration: line-through dashed chocolate 3px; */
  text-indent: 1.25cm;
  letter-spacing: 1px;
  word-spacing: 5px;
  white-space: pre-wrap;
}
.bg-prop > span {
  font: inherit;
  text-emphasis: "/" blue;
}
center {
  clear: both;
}
time {
  border: 10px solid pink;
}
.main-time,
#unic-time {
  border: 5px solid red;
}
h1 {
  caret-color: red;
  cursor: pointer;
  color: white;
  opacity: 0.9;
}
.hypertext {
  user-select: none;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
textarea {
  resize: none;
}
img {
  pointer-events: none;
}
table {
  border-collapse: separate;
  border-spacing: 10px 5px;
  caption-side: bottom;
  empty-cells: hide;
}
td {
  border: 2px dashed blue;
  width: 300px;
  vertical-align: center;
  table-layout: fixed;
}
.td-block {
  display: block;
  height: 200px;
  width: 100%;
  text-align: justify;
  /* column-count: 3; */
  column-fill: balance;
  column-rule: 1px solid black;
  column-gap: 21px;
  column-width: 150px;
  overflow: hidden;
}
.td-block > div {
  column-span: all;
  background: pink;
}
.ol-list {
  /* list-style: lower-greek inside; */
  list-style-type: lower-greek;
  list-style-position: inside;
  /* list-style-image: url(/favicon.ico); */
}
.ol-list > li {
  background: pink;
}
.filter-block {
  width: 200px;
  height: 400px;
  overflow: hidden;
}
.filter-img {
  /*   filter: blur(30px); */
  filter: brightness(120%) contrast(150%) grayscale(50%);
}
.container > div:first-child {
  width: 200px;
  background: #0000ff;
  opacity: 1;
  transition: all 2s ease-in-out 0s;
}
.container > div:first-child:hover {
  width: 100%;
  background: #7070f1;
  opacity: 0;
  transition-property: all;
  transition-duration: 2000ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.container > div:nth-child(2) {
  float: right;
  transition: all 1s linear 0s;
}
.container > div:nth-child(2):hover {
  transform: scale(1.5, 1.5);
  transition: all 1s linear 0s;
}
.container > div:nth-child(3) {
  float: right;
  margin-right: 80px;
  animation-name: translate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes translate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, -30px);
  }
}
.container > div:nth-child(4) {
  float: right;
  margin-right: 30px;
}
.container > div:nth-child(4) {
  float: right;
  margin-right: 30px;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container > div:nth-child(5) {
  float: right;
  margin-right: 30px;
  animation-name: skew;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-play-state: running;
}
@keyframes skew {
  0% {
    transform: skew(0, 0);
  }
  50% {
    transform: skew(20deg, 20deg);
  }
  100% {
    transform: skew(0, 0);
  }
}
.flex-block {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  border: 5px solid black;
  width: 800px;
  height: 200px;
  overflow: hidden;
}
.flex-block > div {
  display: flex;
  flex-basis: calc( 800px / 3 );
  background: green;
  padding: 10px;
  box-sizing: border-box;
  align-items:flex-start;
  flex-grow: 1;
}
.flex-block > div:nth-child(4) {
  align-self: flex-start;
  order: 1;
  background: pink;
  flex-grow: 2;
  flex: 2 0 inherit;
}
.grid-block {
  display: grid;
  grid-template-areas: "header header header";
  grid-template-rows: repeat(3, 60px);
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
 /*  grid-template: "header header header" 200px
                 "sidebar main main" 200px
                 "sidebar main main" 200px
                 / repeat(3, 200px); */
/*   grid-row-gap: 5px;
  grid-column-gap: 5px; */
  grid-gap: 5px;
  border: 5px solid black;
  margin: 10px auto;
}
.grid-block > div {
  overflow: auto;
  background: pink;
  padding: 10px;
  box-sizing: border-box;
}
.grid-block > div:nth-child(1) {
  grid-area: header;
}
.grid-block > div:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

.grid-block > div:nth-child(4) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

