body {
  background: gray;
}
header {
  background: peru;
}
input:focus {
  outline: 10px solid rgb(0, 149, 255);
}
#google {
  background: palevioletred !important;
}
[href="contacts.html"] {
  background: papayawhip;
}
.google:hover {
  background: rgb(131, 17, 55);
}
::placeholder {
  color: red;
}
.header-main a {
  background: goldenrod;
}
header.header-main > a {
  background: rgb(11, 202, 129);
}
h1 ~ nav {
  background: rgb(179, 13, 208);
}
h1 + a {
  background: rgb(210, 18, 169) !important;
}
a:active {
  color: white;
}
input[type="checkbox"]:checked {
  width: 50px;
  height: 50px;
}
input:default {
  box-shadow: 0 0 2px 1px coral;
}
:disabled {
  background: darkblue;
}
:enabled {
  background: whitesmoke;
}
p:empty {
  padding-top: 50px;
}
ul > li:first-child {
  background: rgb(90, 220, 15);
}
ul > li:last-child {
  background: rgb(15, 15, 220);
}
ul > li:nth-child(2) {
  background: rgb(15, 206, 220);
}
dl > :first-of-type {
  background: pink;
}
dl > :last-of-type {
  background: rgb(102, 16, 30);
}
dl > :nth-of-type(2) {
  background: green;
}
ol > li:only-child {
  background: rgb(154, 174, 175);
}
dl > :only-of-type {
  background: rgb(179, 13, 208);
}
input[type="number"]:in-range {
  background: green;
}
input[type="number"]:out-of-range {
  background: red;
}
input[type="email"]:invalid {
  background: red;
}
input[type="email"]:valid {
  background: green;
}
:link {
  color: white;
}
:visited {
  color: yellow;
}
.ol-not > li:not(:nth-child(2)) {
  background: rgb(102, 16, 30);
}
tr > td:nth-last-child(1) {
  background: yellow;
}
.fieldset-nth > :nth-last-of-type(1) {
  outline: 5px solid orange;
}
.form-new > :optional {
  background: orange;
}
.form-new > :required {
  background: rgb(14, 94, 207);
}
.form-new > input[type="text"]:read-only {
  color: white;
}
nav {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 5px 6px 7px 8px;
  /*   margin-top: 5px; */
  /* padding: 5px; */
  padding-top: 10px;
  box-sizing: border-box;
  visibility: visible;
}
@media all and (max-width: 1200px) {
  section {
    background: rgb(250, 226, 177);
  }
}
@media all and (max-height: 600px) {
  header {
    background: white;
  }
}
.img {
  position: sticky;
  left: 10px;
  top: 10px;
}
.container {
  height: 100px;
  border: 1px solid green;
}
.container > div {
  position: relative;
  width: 100px;
  height: 100px;
  background: pink;
}
.container > :nth-child(1) {
  float: left;
  z-index: 2;
}
.container > :nth-child(2) {
  float: left;
  margin-left: -50px;
  background: green;
  z-index: 1;
}
.container > :nth-child(3) {
  width: 250px;
  float: right;
  background-color: hsla(0, 100%, 50%, .5);
  background-image: radial-gradient(circle, #0093E9, #80D0C7);
  background-image: url(/picture.jpg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
  background-clip: padding-box;
  border: 10px solid rgba(22, 231, 22, 0.5);
  box-sizing: border-box;
  color: white;
}
center {
  clear: both;
}